:root {
    --input_width: 225px;
    --input_height: 35px;
}

.login-form {
    /* border: var(--test_border_2); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.login-chinese {
    transform: translateY(30%);
}

.login-input {
    width: var(--input_width);
    height: var(--input_height);
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
}
.login-form .input-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(-75%);
    /* border: var(--test_border_2); */
}
.login-form .input-password-container a{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: black;
    transform: translate(200%, -10%);
    /* border: var(--test_border_2); */
}
.login-form .input-account {
    margin-top: 10%;
}
.login-form .input-password {
    margin-top: 2.5%;
}

.login-btn {
    width: var(--input_width);
    height: var(--input_height);
    margin-top: 12.5%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

.login-form .little-eye {
    cursor: pointer;
    position: absolute;
    left: 90%;
    top: 40%;
    user-select: none;
    text-decoration: none;
    color: black;
}
.login-form .little-eye-confirm {
    cursor: pointer;
    position: absolute;
    left: 90%;
    top: 50%;
    user-select: none;
    text-decoration: none;
    color: black;
}

.login-form .input-password-container .hide {
    display: none;
}

.login-icon-container {
    transform: translateY(-15%);
}
.login-1999-icon, .login-genshin-icon {
    width: 90px;
}

.login-contact {
    display: none;
}

/* =================== RWD =================== */

@media (max-width: 1100px) {
    .login-form {
        gap: 70px;
        height: 90%;
    }
    .login-form .login-chinese {
        font-size: 3em;
    }
    .login-form .input-password-container a {
        transform: translate(150%, -10%);
        font-size: 1.8em;
    }
    .login-input, .login-btn {
        width: calc(var(--input_width) * 1.50);
        height: calc(var(--input_height) * 1.75);
        font-size: 1.4em;
    }
    .login-input {
        border-radius: 10px;
    }
    .login-btn {
        border-radius: 15px;
    }
    .login-icon-container {
        transform: translateY(5%);
    }
    .login-1999-icon, .login-genshin-icon {
        width: 150px;
    }
}
@media (max-width: 800px) {
    .login-form {
        gap: 60px;
        height: 95%;
    }
}
@media (max-width: 600px) {
    .login-form {
        gap: 50px;
        height: 80%;
    }
    .login-form .login-chinese {
        font-size: 1.8em;
    }
    .login-form .input-password-container {
        transform: translateY(-65%);
    }
    .login-form .input-password-container a {
        transform: translate(150%, -10%);
        font-size: 1em;
    }
    .login-input, .login-btn {
        width: calc(var(--input_width) * 0.85);
        height: calc(var(--input_height) * 0.95);
        font-size: 1.1em;
    }
    .login-input {
        border-radius: 5px;
    }
    .login-btn {
        border-radius: 10px;
    }
    .login-icon-container {
        transform: translateY(45%);
    }
    .login-1999-icon, .login-genshin-icon {
        width: 90px;
    }
    .login-contact {
        display: block;
        position: absolute;
        bottom: 10%;
    }
}
@media (max-width: 375px) {
    .login-form {
        height: 100%;
    }
    .login-icon-container {
        transform: translateY(-5%);
    }
}