:root {
    --input_width: 225px;
    --input_height: 35px;
}

.login-form {
    border: var(--test_border_2);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
}

.login-chinese {
    margin-top: 30%;
}

.login-input {
    width: var(--input_width);
    height: var(--input_height);
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
}

.input-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(4.25%);
    /* border: var(--test_border_2); */
}

.input-password-container a{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: black;
    position: relative;
    /* border: var(--test_border_2); */
}
.input-account {
    margin-top: 10%;
}
.input-password {
    margin-top: 2.5%;
}

.login-btn {
    width: var(--input_width);
    height: var(--input_height);
    margin-top: 12.5%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

.input-password-container .hide {
    display: none;
}

.login-icon-container{
    transform: translateY(25%);
}
.login-1999-icon, .login-genshin-icon {
    width: 90px;
}

/* ======================================== */

/* @media (max-width: 600px) {
    .login-form > a {
        left: 88%;
        top: 33%;
    }
    .login-input {
        width: calc(var(--input_width) * 0.85);
        height: calc(var(--input_height) * 0.95);
    }
    .login-btn {
        width: calc(var(--input_width) * 0.85);
        height: calc(var(--input_height) * 0.95);
    }
}
@media (max-width: 400px) {
    .login-form > a {
        left: 88%;
        top: 35.25%;
    }
}
@media (max-width: 380px) {
    .login-form > a {
        left: 89%;
        top: 43.5%;
    }
    .login-input {
        width: calc(var(--input_width) * 0.8);
        height: calc(var(--input_height) * 0.9);
    }
    .login-btn {
        width: calc(var(--input_width) * 0.8);
        height: calc(var(--input_height) * 0.9);
    }
}
@media (max-width: 365px) {
    .login-form > a {
        left: 89%;
        top: 38%;
    }
} */