:root {
    --home_main_img_width: 500px;
}

.home-container {
    /* border: var(--test_border_1); */
    z-index: var(--z_index_outer_container);
    width: auto;
    text-align: center;
    border-radius: 10px;
    padding: 30px 10px;
    margin: 2.5% 0 0 0;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.home-img {
    background-image: url('../../Images/HomePageMainImg.png');
    background-size: cover;
    background-color: white;
    z-index: var(--z_index_item_1);
    border: 10px solid #ffaa00;
    border-radius: 15px;
    width: 75%;
    min-height: 500px;
}

.slogan {
    /* border: var(--test_border_1); */
    z-index: var(--z_index_item_2);
    color: #ff7700;
    text-align: left;
    position: fixed;
    text-shadow: #900C3F var(--text_shader_bold);
    margin: 20px 30px;
}