:root {
    --home_main_img_width: 500px;
}

.home-container {
    /* border: var(--test_border_1); */
    z-index: var(--z_index_outer_container);
    width: auto;
    text-align: center;
    border-radius: 10px;
    padding: 30px 10px;
    margin-top: 15px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    overflow: visible;
    height: 100%;
}

.home-img {
    background-image: url('../../Images/HomePageMainImg.png');
    background-size: cover;
    background-color: white;
    z-index: var(--z_index_item_1);
    border: 10px solid #ffaa00;
    border-radius: 15px;
    width: 75%;
    min-height: 500px;
    height: 70%;
}

.slogan {
    /* border: var(--test_border_1); */
    z-index: var(--z_index_item_2);
    color: #ff7700;
    text-align: left;
    position: fixed;
    text-shadow: #900C3F var(--text_shader_bold);
    margin: 20px 30px;
    user-select: none;
    font-size: 15px;
}

@media (max-width: 1200px) {
    .home-img {
        background-size: cover;
        background-position: center;
    }
    .slogan {
        font-size: 12.5px;
        bottom: 27.5%;
        left: 15%;
    }
}
@media (max-width: 600px) {
    .home-container .home-img .slogan {
        bottom: 23.5%;
        font-size: 10px;
    }
    .home-img {
        height: 80%;
        min-height: 720px;
    }
}
@media (max-width: 400px) {
    .home-container .home-img .slogan {
        bottom: 27%;
    }
    .home-img {
        height: 70%;
        min-height: 500px;
    }
}
@media (max-width: 375px) {
    .home-container {
        padding-top: 15px;
    }
    .home-container .home-img .slogan {
        bottom: 20%;
    }
}
@media (max-width: 360px) {
    .home-container .home-img .slogan {
        bottom: 25%;
    }
}