* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: hsl(0, 0%, 00%);
    overflow: hidden;
    height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --test_border_1: 2px solid white;
    --test_border_2: 2px solid orange;
    --test_border_3: 2px solid yellow;
    --container_outline_border_color_1: #ffaa00;
    --container_outline_border_color_2: #e2e0d4;
    --text_color_1: #ff7700;
    --text_color_2_shader: #900C3F;
    --draw_bg_1999: hsl(20, 84%, 50%);
    --z_index_bg_floor: -99;
    --z_index_bg_img: 0;
    --z_index_outer_container: 10;
    --z_index_inner_container: 11;
    --z_index_item_1: 12;
    --z_index_item_2: 13;
    --z_index_item_3: 14;
    --z_index_item_4: 15;
    --z_index_item_5: 16;
    --z_index_topest: 99;
    --transition_switch_game_icon: .2s;
    --transition_select_color_change: .3s;
    --transition_select_color_change_slower: .5s;
    --text_shader_sep: 2px 4px 10px;
    --text_shader_center: .5px 1px 6px;
    --text_shader_bold: 4px 3px 2px;
}