main {
    perspective: 27.5em;
    height: 100%;
}

/* ============= for pad ============= */
@media (max-width: 1200px) {
    main {
        perspective: 27.5em;
        height: 100%;
    }
}
/* @media (min-height: 1000px) {
    main {
        perspective: 30em;
        height: 50%;
    }
}
@media (min-height: 1200px) {
    main {
        perspective: 32em;
        height: 55%;      
    }
} */