.simulator-container-1999 {
    border: 5px solid var(--container_outline_border_color_1);
    z-index: var(--z_index_outer_container);
    color: white;
    position: relative;
    height: 65%;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: green;
}
select {
    outline: none;
}
.simulator-container-1999 .summon-pool-selector-container, .details-1999, .draw-container {
    position: absolute;
    text-decoration: none;
    outline: none;
}
.simulator-container-1999 .summon-pool-selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.simulator-container-1999 .summon-pool-selector-container .summon-pool-selector {
    z-index: var(--z_index_item_1);
    margin: 25px;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text_color_1);
    text-shadow: 1px 1px 1px var(--text_color_2_shader);
    box-shadow: 3px 2px 10px black;
    background-color: rgba(255, 255, 255, 0.55);
    appearance: none;
}
.simulator-container-1999 .summon-pool-selector-container .select-arrow {
    z-index: var(--z_index_item_2);
    transform: translateX(-300%);
    color: black;
    font-size: 1.1em;
}

.details-1999 {
    z-index: var(--z_index_item_3);
    bottom: 0;
    left: 0;
    margin: 0 0 15px 30px;
    border: 1px solid var(--container_outline_border_color_1);
    background: rgba(0, 0, 0, 0.35); /* rgb的數值從0, 0, 0(black)開始，透過a的0~1來調整透明度 */
    width: 75px;
    height: 30px;
    color: white;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.simulator-container-1999 .draw-container {
    /* border: var(--test_border_1); */
    z-index: var(--z_index_item_1);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    width: 375px;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 15px 0;
    right: 0;
    bottom: 0;
}
.single-draw-1999 {
    z-index: var(--z_index_item_2);
    background-color: white;
    width: 47.5%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
    box-shadow: 1px 3px 5px black;
    border-radius: 2px;
}
.ten-draw-1999 {
    z-index: var(--z_index_item_2);
    background-color: hsl(33, 100%, 44%);
    width: 47.5%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
    box-shadow: 1px 3px 5px black;
    border-radius: 2px;
}

.simulator-container-1999 .single-draw-icon, .simulator-container-1999 .ten-draw-icon {
    /* border: var(--test_border_2); */
    font-size: 0.8em;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 35%;
    gap: 10px;
}
.simulator-container-1999 .single-draw-icon::after {
    content: "x1";
    position: relative;
    transform: translateX(-50%);
}
.simulator-container-1999 .ten-draw-icon::after {
    content: "x10";
    position: relative;
    transform: translateX(-50%);
}

@media (max-width: 1000px) {
    .simulator-container-1999 .summon-pool-selector-container .summon-pool-selector, .details-1999{
        margin: 0;
    }
    .simulator-container-1999 .summon-pool-selector-container, .simulator-container-1999 .details-1999, .simulator-container-1999 .draw-container {
        left: 50%;
        transform: translateX(-50%);
    }
    .simulator-container-1999 {
        background: url('../../Images/gachaBG1999.png');
        background-size: cover;
        height: 80%;
        transform: translate(-50%, -60%);
    }
    .simulator-container-1999 .summon-pool-selector-container {
        top: 15%;
    }
    .simulator-container-1999 .details-1999 {
        bottom: 30%;
    }
    .simulator-container-1999 .draw-container {
        bottom: 17.5%;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin: 0;
    }
    .single-draw-1999, .ten-draw-1999 {
        width: 50%;
    }
    .single-draw-icon, .ten-draw-icon {
        width: 35%;
    }
}