:root {
    --details_title_color_1999: #816e62;
    --details_title_bg_color_1999: #c6beb6;
}

.rule-container-1999 {
    /* border: var(--test_border_2); */
    z-index: var(--z_index_topest);
    width: 100%;
    height: auto;
    border-left: 1px solid hsl(0, 0%, 70%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    gap: 2%;
    padding: 0 5% 2% 5%;
}
.rule-container-1999 .summon-rule,
.rule-container-1999 .summon-rate,
.rule-container-1999 .special-rule {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
}
.rule-container-1999 .summon-rule-title,
.rule-container-1999 .summon-rate-title,
.rule-container-1999 .special-rule-title {
    color: var(--details_title_color_1999);
    background: linear-gradient(to right, var(--details_title_bg_color_1999), transparent);
    border-radius: 15px;
    padding-left: 1%;
    font-weight: bold;
    margin-top: 3%;
}
.rule-container-1999 .summon-rate-context {
    line-height: 1.4em;
    padding-left: 1%;
    font-weight: 450;
}
.rule-container-1999 .summon-rule-list,
.rule-container-1999 .summon-rate-list,
.rule-container-1999 .special-rule-list {
    padding-left: 3%;
    margin: .5% 0 .5% 0;
    font-weight: 400;
}
.rule-container-1999 .summon-rate-list {
    font-weight: 500;
}

.rule-container-1999 .star-1999,
.rule-container-1999 .rule-rate {
    color: var(--draw_bg_1999);
}