footer {
    border: 3px solid white;
    width: 300px;
    position: fixed;
    left: 50%;
    bottom: 150px;
    transform: translate(-50%, 150%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    border-radius: 15px;
    padding: 5px 0px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    z-index: var(--z_index_topest);
}
.sw-bar-link {
    width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    border-radius: 50%;
}
.Home-icon {
    padding: 5px;
}
.Home-icon, .Reverse-icon, .Genshin-icon {
    /* border: var(--test_border_2); */
    border-radius: 50%;
    background: transparent;
    transition: var(--transition_switch_game_icon);
}
.Home-icon:hover, .Reverse-icon:hover, .Genshin-icon:hover {
    background: rgb(0, 0, 0, 0.15);
}

.active {
    background-color: rgb(239, 155, 0);
}

.hide {
    display: none;
}

@media (max-width: 1200px) {
    footer {
        border: 2.5px solid white;
        width: 250px;
        transform: translate(-50%, 160%);
    }
    .sw-bar-link {
        width: 45px;
    }
    .Home-icon, .Reverse-icon, .Genshin-icon {
        width: 45px;
    }
}
@media (max-width: 600px) {
    footer {
        border: 1.5px solid white;
        width: 200px;
        transform: translate(-50%, 220%);
    }
    .sw-bar-link {
        width: 35px;
    }
    .Home-icon, .Reverse-icon, .Genshin-icon {
        width: 35px;
    }
}
@media (max-width: 375px) {
    footer {
        transform: translate(-50%, 275%);
    }
}