:root {
    --input_width: 225px;
    --input_height: 35px;
}

.register-form {
    /* border: var(--test_border_2); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.register-input {
    width: var(--input_width);
    height: var(--input_height);
    border: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
}
.register-form .input-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: var(--test_border_2); */
}
.register-form .input-password-container a{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: black;
    transform: translate(-100%, -75%);
    /* border: var(--test_border_2); */
}
/* .register-form .input-account {
    margin-top: 2.5%;
}
.register-form .input-password {
    margin-top: 2.5%;
} */
.add-image-label {
    font-size: 0.7em;
    position: relative;
    width: 65%;
    display: flex;
    justify-content: right;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
.add-image-icon {
    position: absolute;
    width: 30px;
    left: 5%;
}

.register-btn {
    width: var(--input_width);
    height: var(--input_height);
    margin-top: 12.5%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

.register-form .little-eye {
    cursor: pointer;
    position: absolute;
    left: 87.5%;
    top: 40%;
    user-select: none;
    text-decoration: none;
    color: black;
}
.register-form .little-eye-confirm {
    cursor: pointer;
    position: absolute;
    left: 87.5%;
    top: 48.5%;
    user-select: none;
    text-decoration: none;
    color: black;
}

.register-form .input-password-container .hide {
    display: none;
}

.register-icon-container{
    transform: translateY(15%);
}
.register-1999-icon, .register-genshin-icon {
    width: 90px;
}

.register-contact {
    display: none;
}

/* =================== RWD =================== */

@media (max-width: 1380px) {
    .add-image-label {
        font-size: 0.6em;
        transform: translateY(100%);

    }
    @media (max-height: 1024px) {
        .register-form .little-eye {
            left: 90%;
            top: 43%;
        }
        .register-form .little-eye-confirm {
            left: 90%;
            top: 49%;
        }
    }
} 
@media (max-width: 1200px) {
    .register-form .little-eye {
        left: 95%;
        top: 42%;
    }
    .register-form .little-eye-confirm {
        left: 95%;
        top: 50%;
    }
}
@media (max-width: 1000px) {
    .register-form {
        gap: 20px;
        height: 90%;
    }
    .register-form .register-chinese {
        font-size: 3em;
    }
    .register-form .input-password-container a {
        transform: translate(-150%, -175%);
        font-size: 1.8em;
    }
    .register-input, .register-btn {
        width: calc(var(--input_width) * 1.50);
        height: calc(var(--input_height) * 1.75);
        font-size: 1.4em;
    }
    .register-input {
        border-radius: 10px;
    }
    .register-btn {
        border-radius: 15px;
    }
    .register-icon-container {
        transform: translateY(25%);
    }
    .register-1999-icon, .register-genshin-icon {
        width: 150px;
    }
    .register-form .little-eye {
        left: 90%;
        top: 40%;
    }
    .register-form .little-eye-confirm {
        left: 90%;
        top: 49%;
    }
}
@media (max-width: 800px) {
    .register-form {
        gap: 10px;
        height: 100%;
    }
    .register-form .little-eye {
        top: 45%;
    }
    .register-form .little-eye-confirm {
        top: 55%;
    }
}
@media (max-width: 600px) {
    .register-form {
        height: 90%;
    }
    .register-form .register-chinese {
        font-size: 1.8em;
    }
    .register-form .input-password-container {
        transform: translateY(30%);
    }
    .register-form .input-password-container a {
        transform: translate(150%, -10%);
        font-size: 1em;
    }
    .register-input, .register-btn {
        width: calc(var(--input_width) * 0.85);
        height: calc(var(--input_height) * 0.95);
        font-size: 1em;
    }
    .register-input {
        border-radius: 5px;
    }
    .register-btn {
        border-radius: 10px;
    }
    .register-icon-container {
        transform: translateY(15%);
    }
    .register-1999-icon, .register-genshin-icon {
        width: 90px;
    }
    .register-contact {
        display: block;
        transform: translateY(30%);
    }
}
@media (max-width: 375px) {
    .register-form {
        height: 100%;
    }
    .register-input {
        transform: translateY(5%);
    }
}