*{
    box-sizing: border-box;
}

header {
    display: grid;
    /* border: var(--test_border_1); */
    margin-top: 15px;
    grid-template-columns: 45% 25% 25%;
    z-index: var(--z_index_outer_container);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    /* border: var(--test_border_3); */
    width: 36%;
    text-align: left;
    font-size: 1.6em;
    font-weight: bold;
    color:  rgb(255, 128, 0);
    text-shadow: rgba(255, 128, 0, 0.60) var(--text_shader_sep);
}

nav {
    /* border: var(--test_border_3); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    font-size: 1.1em;
    font-weight: 700;
    text-shadow: white var(--text_shader_center);
}
.login-reg {
    color: white;
    cursor: pointer;
    border: 2px solid black;
    padding-bottom: 1px;
    transition: var(--transition_select_color_change_slower);
}
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
}
.user-account {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    width: 50%;
    padding: 0 5px 0 5px;
    color: white;
    cursor: pointer;
    transition: var(--transition_select_color_change_slower);
    font-size: 0.8em;
    gap: 10%;
}

.login-reg:hover {
    border-bottom: 2px solid white;
}
.user-account:hover {
    background-color: white;
    color: black;
}

@media (max-width: 1200px) {
    header {
        grid-template-columns: 40% 30% 20%;
    }
    .logo {
        font-size: 1.4em;
        width: 40%;
    }
    nav {
        font-size: 1em;
    }
}
@media (max-width: 1100px) {
    header {
        grid-template-columns: 40% 35% 15%;
    }
    .logo {
        width: 60%;
    }
    .user-icon {
        width: 35px;
        height: 35px;
    }
    .user-account {
        width: 100%;
    }
}
@media (max-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        padding-right: 4%;
    }
    .logo {
        font-size: 1em;
        padding-left: 8%;
        width: 70%;
    }
    nav {
        font-size: 0.8em;
    }
    .user-icon {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 375px) {
    header {
        margin-top: 10px;
    }
}