:root {
    --icon_width: 15px;
    --icon_height: 15px;
}

.contact-container {
    /* border: var(--test_border_2); */
    z-index: var(--z_index_topest);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.gmail-link, .github-link {
    /* border: var(--test_border_3); */
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: black;
    font-size: .8em;
    font-weight: bold;
    text-decoration: none;
    transition: var(--transition_select_color_chage);
}
.gmail-link a, .github-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 5px;
    transition: var(--transition_select_color_chage);
    color: white;
}

.gmail-link:hover, .github-link:hover {
    color: black;
    background-color: white;
}
.gmail-link a:hover, .github-link a:hover{
    color: black;
}
.contact-icon {
    width: var(--icon_width);
    height: var(--icon_height);
}

@media (max-width: 600px) {
    .contact-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 300px;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 375%);
    }
}
@media (max-width: 400px) {
    .contact-container {
        display: none;
    }   
}
@media (min-width: 750px) {
    .contact-container {
        width: 100px;
    }   
}